.dialog .dialog-buttons.token-health button {
  cursor: pointer;
}

.dialog .dialog-buttons.token-health button[data-button='heal'] {
  background-color: #cae9ca;
}

.dialog .dialog-buttons.token-health button[data-button='damage'] {
  background-color: #d46e61;
}

.form-token-health .form-group {
  margin-bottom: 1em;
}

.form-token-health input[type='number'] {
  border: 1px solid black;
  font-size: 2em;
  font-variant-numeric: tabular-nums;
  padding: .5em;
  text-align: center;
  width: 100%;
}